body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    margin: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
	font-variant: small-caps
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    text-align: left-side;
    padding: 20px;
	position:absolute;
 top: 150px;
 left: 300px;
}

img {
    display: block;
    margin: 0 auto;
	position:absolute;
 top: 200px;
 right: 350px;
}
p {
  font-size: 30px;
  font-family: Monospace, Monaco;
}
